<div class="main">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="p-3">
      <!-- Old Password -->
      <div class="mb-3">
        <label for="oldPassword" class="form-label fw-bold">Old Password</label>
        <div class="input-group rounded-pill shadow-sm ">
          <input
            [type]="oldPasswordVisible ? 'text' : 'password'"
            id="oldPassword"
            formControlName="oldPassword"
            class="form-control border-0 ps-3 pwd-input"
            placeholder="Enter old password"
          />
          <button
            type="button"
            class="btn btn-light border-0 pwd-btn"
            (click)="toggleOldPasswordVisibility()"
          >
            <img
              class="eye"
              [src]="oldPasswordVisible ? '/assets/password/eye-solid.svg' : '/assets/password/eye-slash-solid.svg'"
            />
          </button>
        </div>
        <div *ngIf="passwordForm.controls['oldPassword'].errors && passwordForm.controls['oldPassword'].touched" class="text-danger small mt-1">
          <div *ngIf="passwordForm.controls['oldPassword'].errors['required']">Old Password is required.</div>
          <div *ngIf="passwordForm.controls['oldPassword'].errors['minlength']">Must be at least 6 characters.</div>
        </div>
      </div>
  
      <!-- New Password -->
      <div class="mb-3">
        <label for="newPassword" class="form-label fw-bold">New Password</label>
        <div class="input-group rounded-pill shadow-sm" >
          <input
            [type]="newPasswordVisible ? 'text' : 'password'"
            id="newPassword"
            formControlName="newPassword"
            class="form-control border-0 ps-3 pwd-input"
            placeholder="Enter new password"
          />
          <button
            type="button"
            class="btn btn-light border-0 pwd-btn"
            (click)="toggleNewPasswordVisibility()"
          >
            <img
              class="eye"
              [src]="newPasswordVisible ? '/assets/password/eye-solid.svg' : '/assets/password/eye-slash-solid.svg'"
            />
          </button>
        </div>
        <div *ngIf="passwordForm.controls['newPassword'].errors && passwordForm.controls['newPassword'].touched" class="text-danger small mt-1">
          <div *ngIf="passwordForm.controls['newPassword'].errors['required']">New Password is required.</div>
          <div *ngIf="passwordForm.controls['newPassword'].errors['minlength']">Must be at least 6 characters.</div>
        </div>
      </div>
  
      <!-- Confirm Password -->
      <div class="mb-3">
        <label for="confirmPassword" class="form-label fw-bold">Confirm Password</label>
        <div class="input-group rounded-pill shadow-sm">
          <input
            [type]="confirmPasswordVisible ? 'text' : 'password'"
            id="confirmPassword"
            formControlName="confirmPassword"
            class="form-control border-0 ps-3 pwd-input"
            placeholder="Confirm new password"
          />
          <button
            type="button"
            class="btn btn-light border-0 pwd-btn"
            (click)="toggleConfirmPasswordVisibility()"
          >
            <img
              class="eye"
              [src]="confirmPasswordVisible ? '/assets/password/eye-solid.svg' : '/assets/password/eye-slash-solid.svg'"
            />
          </button>
        </div>
        <div *ngIf="passwordForm.controls['confirmPassword'].errors && passwordForm.controls['confirmPassword'].touched" class="text-danger small mt-1">
          <div *ngIf="passwordForm.controls['confirmPassword'].errors['required']">Confirm Password is required.</div>
          <div *ngIf="passwordForm.controls['confirmPassword'].errors['minlength']">Must be at least 6 characters.</div>
        </div>
      </div>
  
      <!-- Submit Button -->

      <div *ngIf="passwordForm.hasError('passwordMismatch') && passwordForm.touched" class="text-danger small mt-1 mb-2">
        <div>Passwords do not match.</div>
      </div>

      <button  type="submit"  class="item logout d-flex justify-content-center align-items-center w-100 mt-3" [disabled]="passwordForm.invalid || passwordForm.hasError('passwordMismatch')"
      [style.opacity]="passwordForm.invalid || passwordForm.hasError('passwordMismatch') ? '0.7' : '1'">
        <span class="text-white">Submit</span>
      </button>
    </form>
  </div>
  
