.main-container{
    display: flex;
}
.main-content{
    overflow-y: auto;
    height:calc(100vh - 170px);
}
.isIphoneSafari{
    height: calc(100vh - 230px);
}
.dashboard{
    width: 100%;
}
@media only screen and (min-width:1024px){
    .dashboard{
        width: calc(100% - 332px);
    }
    .left-sidebar{
        width: 332px;
    }
}
@media only screen and (min-width:900px) and (max-width:1023px){
    .left-sidebar{
        width: 232px;
    }
    .dashboard{
        width: calc(100% - 232px);
    }
}
@media only screen and (min-width:768px) and (max-width:899px){
    .left-sidebar{
        width: 185px;
    }
    .dashboard{
        width: calc(100% - 185px);
    }
}
@media only screen and (max-width:767px){
    .left-sidebar{
        display: none;
    }
}