<!-- Desktop -->
<div class="deskcontainer mt-4">
    <div class="deskcard">
      <div class="card-body">
        <table class="responsive-table">
          <thead>
            <tr>
              <th *ngFor="let item of tableHeaderData; trackBy: trackByIndex">
                {{ item }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let data of tableContentData;
                let i = index;
                trackBy: trackByIndex
              "
            >
              <td>{{ data.companyName }}</td>
              <td>{{ data.admins }}</td>
              <td>{{ data.whiteLabels }}</td>
              <td>{{ data.supers }}</td>
              <td>{{ data.masters }}</td>
              <td>{{data.agents}}</td>
              <td>{{data.users}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
