.header-section {
  background: #000;
  height: 170px;
}

.top-sec {
  height: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.bottom-sec {
  height: 70px;
}

.date-selection-filter {
  width: 480px;
  float: right;
}
