.header-section {
  background: #000;
  height: 170px;
}

.top-sec {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-sec {
  height: 70px;
}

.date-selection-filter {
  width: 480px;
  float: right;
}

@media only screen and (max-width:767px) {
  .top-date-sec {
    display: none;
  }

  .d-mbl-none {
    display: none;
  }

  .header-2nd {
    display: flex !important;
  }

  .date-selection-filter {
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

// 
// 
// 
// .header {
//   height: 102px;
//   width: 100%;
//   background: linear-gradient(180deg, #952cf1 0%, #520099 100%);
//   justify-content: space-between;
//   padding: 20px;
// }

.header-2nd {
  height: 60px;
  width: 100%;
  padding: 8px 19px;
  overflow-x: scroll;
  column-gap: 13.85px;
}

@media only screen and (min-width: 768px) {
  .header-2nd {
    column-gap: 20.85px;
  }
}

@media only screen and (max-width: 767px) {

  // .header {
  //     height: 77px !important;
  //     padding-top: 25px !important;
  // }
}




// 
// 
// 
.item {
  border: 1px solid white;
  padding: 0 16px 0 6px;
  border-radius: 20px;
  cursor: pointer;
  width: 165px;
}

img {
  width: 30px;
  height: 30px;
}

span {
  font-size: 14px;
}


.item.active,
.item:hover {
  background-color: #DE0000;
}

.logout {
  background: linear-gradient(90deg, #FF0000 0%, #490000 100%);
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width:767px) {
  .logo {
    width: 140px;
    height: 140px;
  }

  .item span {
    font-size: 14px;
  }
}

@media screen and (max-width:375px) {
  .item {
    padding: 0 12px 0 4px;
    width: 145px;
  }

  .item span {
    font-size: 12px;
  }
}

.mbl-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 0px 0px 20px;
}

.logo img {
  width: 85px;
  height: 85px;
}

.diff-btn {
  width: 202px;
  height: 49px;
  border-radius: 20px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.diff-btn span {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

.diff-container {
  display: flex;
  justify-content: end;
  padding-right: 20px;
  text-transform: uppercase;
}
.refresh-btn{
background: linear-gradient(175deg, #FF0000 0%, #490000 100%);
color: #fff;
}
.refresh-btn span {
  color: #fff;
}
@media only screen and (max-width:768px){
  .diff-btn {
    width: 163px;
    height: 44px;
  }
  .diff-btn span {
    font-size: 14px;
  }
  .diff-container {
    padding-right: 7px;
    position: relative;
    top: 20px;
  }
}
@media only screen and (max-width:530px){
  .diff-btn {
    width: 145px;
    height: 44px;
  }
}
@media only screen and (max-width:430px){
  .diff-btn {
    width: 125px;
    height: 40px;
    border-radius: 16px;
  }
  .diff-btn span {
    font-size: 12px;
  }
  svg{
    width: 17px;
    height: 17px;
  }
}
@media only screen and (max-width:375px){
  .diff-btn {
    width: 110px;
  }
  .diff-btn span {
    font-size: 10px;
  }
  svg{
    width: 16px;
    height: 16px;
  }
}
@media only screen and (max-width:350px){
  .diff-btn {
    width: 90px;
  }
  svg{
    width: 14px;
    height: 14px;
  }
}
@media only screen and (max-width:319px){
  .diff-btn {
    width: 80px;
  }
  .diff-btn span {
    font-size: 8px;
  }
  svg{
    width: 12px;
    height: 12px;
  }
}