<section class="header-section">
  <div class="top-sec">
    <div class="top-date-sec" *ngIf="currentRoute !== '/user-detail'" >
        <app-single-datepicker (rangeDateEmit)="receiveSingleDateRanges($event)"></app-single-datepicker>
    </div>
    <div class="mbl-content" *ngIf="!isDesktop">
      <div class="logo">
        <img src="/assets/sidebar/logo.svg" alt="logo" class="logo">
      </div>
      <!-- <div class="date-selection-filter">
        <ng-container *ngIf="!isDesktop">
          <app-date-range-selection
          [from]="defaultFrom"
          [to]="defaultTo"
          (dateRangeSelection)="onDateRangeSelection($event)"
        >
        </app-date-range-selection>
        </ng-container>
      </div> -->
    </div>

  </div>
  <div class="bottom-sec">
    <div class="date-selection-filter" *ngIf="isDesktop && currentRoute !== '/user-detail'">
      <app-date-range-selection
        [from]="defaultFrom"
        [to]="defaultTo"
        (dateRangeSelection)="onDateRangeSelection($event)"
      >
      </app-date-range-selection>
    </div>
    <div class="diff-container">
        <div class="diff-btn" *ngIf="isDesktop && currentRoute == '/user-detail'" (click)="findDiffrence()">
            <span>Difference</span>
        </div>
    </div>
    <!-- 2nd header -->
    <div class="header-2nd d-none">
      <div class="item-list d-flex justify-content-center gap-2">
        <!-- 1 -->
        <div class="item d-flex justify-content-center align-items-center gap-2" [routerLink]="'/dashboard'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="/assets/sidebar/dashboard.svg" alt="dashboard">
            <span class="text-white">DASHBOARD</span>
        </div>
        <!-- 2 -->
        <div class="item btn-2 d-flex justify-content-center align-items-center gap-2"  [routerLink]="'/user-detail'" routerLinkActive="active" >
            <img src="/assets/sidebar/user-details.svg" alt="user-details">
            <span class="text-white">USER DETAILS</span>
        </div>
        <!-- 3 -->
        <div class="item d-flex justify-content-center align-items-center gap-2" [routerLink]="'/bet-report'" routerLinkActive="active">
            <img src="/assets/sidebar/bet-profit.svg" alt="bet-report">
            <span class="text-white">BET REPORT</span>
        </div>
        <!-- 4 -->
        <div class="item d-flex justify-content-center align-items-center gap-2"  [routerLink]="'/pl-report'" routerLinkActive="active">
            <img src="/assets/sidebar/p-l.svg" alt="pl-report">
            <span class="text-white">P&L REPORT</span>
        </div>
        <!-- 5 -->
        <div class="item d-flex justify-content-center align-items-center gap-2" [routerLink]="'/dw-report'" routerLinkActive="active">
            <img src="/assets/sidebar/dw-report.svg" alt="dw-report">
            <span class="text-white">D/W REPORT</span>
        </div>
         <!-- 6 -->
         <div class="item d-flex justify-content-center align-items-center gap-2" routerLinkActive="active">
            <img src="/assets/sidebar/panel.svg" alt="panel-report">
            <span class="text-white">PANEL REPORT</span>
        </div>
        <!-- 7 -->
        <div class="item d-flex justify-content-center align-items-center gap-2" routerLinkActive="active">
            <img src="/assets/sidebar/staff-report.svg" alt="staff-report">
            <span class="text-white">STAFF REPORT</span>
        </div>
        <!-- 8 -->
        <div class="item d-flex justify-content-center align-items-center gap-2" routerLinkActive="active">
            <img src="/assets/sidebar/password.svg" alt="staff-report">
            <span class="text-white">PASSWORD</span>
        </div>
        <!-- Logout -->
        <div class="item logout d-flex justify-content-center align-items-center gap-2">
            <img src="/assets/sidebar/logout.svg" alt="staff-report">
            <span class="text-white">LOUGOUT</span>
        </div>
    </div>



      <!-- <button
          class="d-flex align-items-center justify-content-center dashboard-btn"
          (click)="header2ClickHandler('dashboard')"
          [ngClass]="{ active2: header2Active === 'dashboard' }"
      >
          <img src="./../../../assets/sidebar/dashboard.svg" width="18.58px" alt="home" />
          <strong>Dashboard</strong>
      </button>
      <button
          class="d-flex align-items-center justify-content-center user-btn"
          (click)="header2ClickHandler('users')"
          [ngClass]="{ active2: header2Active === 'users' }"
      >
          <img src="./../../../assets/dashboard/user.svg" width="19.53px" alt="user" />
          <strong>Users</strong>
      </button>
      <div>
          <button
              class="d-flex align-items-center justify-content-end user-btn"
              type="button"
              id="payin"
              aria-expanded="false"
              [ngClass]="{
                active2:
                    header2Active === 'payinupi-bankdetails' ||
                    header2Active === 'payin-transactions' ||
                    header2Active === 'payin-statement'
            }"
          >
              <img
                  src="./../../../assets/dashboard/card-receive.svg"
                  width="19.53px"
                  alt="user"
              />
              <strong>Pay IN</strong>
              <img
                  src="./../../../assets/dashboard/arrow-down.svg"
                  width="16.5px"
                  alt="down-arrow"
              />
          </button>
          <ul class="dropdown-menu" aria-labelledby="payin">
              <li>
                  <a
                      class="dropdown-item border-b"
                      (click)="header2ClickHandler('payinupiBankDetails')"
                      >Pay IN UPI/Bank Details</a
                  >
              </li>
              <li>
                  <a
                      class="dropdown-item border-b"
                      (click)="header2ClickHandler('payinTransactions')"
                      >Pay IN Transactions</a
                  >
              </li>
              <li>
                  <a
                      class="dropdown-item"
                      (click)="header2ClickHandler('payinStatement')"
                      >Pay IN Statement</a
                  >
              </li>
          </ul>
      </div>
      <div>
          <button
              class="d-flex align-items-center justify-content-end user-btn"
              type="button"
              id="payout"
              data-bs-toggle="dropdown"
              aria-expanded="false"
          >
              <img
                  src="./../../../assets/dashboard/card-receive.svg"
                  width="19.53px"
                  alt="user"
              />
              <strong>Pay OUT</strong>
              <img
                  src="./../../../assets/dashboard/arrow-down.svg"
                  width="16.5px"
                  alt="down-arrow"
              />
          </button>
          <ul class="dropdown-menu" aria-labelledby="payout">
              <li>
                  <a class="dropdown-item border-b"
                      >Pay OUT UPI/Bank Details</a
                  >
              </li>
              <li>
                  <a class="dropdown-item border-b">Pay OUT Transactions</a>
              </li>
              <li><a class="dropdown-item">Pay OUT Statement</a></li>
          </ul>
      </div>
      <button
          class="d-flex align-items-center justify-content-center user-btn"
          (click)="header2ClickHandler('statement')"
          [ngClass]="{ active2: header2Active === 'statement' }"
          >
          <img
              src="/assets/dashboard/receipt-item.svg"
              width="19.53px"
              alt="receipt"
          />
          <strong>Statement</strong>
      </button>
      <button
          class="d-flex align-items-center justify-content-center user-btn"
          (click)="header2ClickHandler('riskteam')"
          [ngClass]="{ active2: header2Active === 'riskteam' }"
          >
          <img
              src="/assets/dashboard/people.svg"
              width="19.53px"
              alt="people"
          />
          <strong>Risk TEAM</strong>
      </button>
      <div>
          <button
              class="d-flex align-items-center justify-content-end user-btn"
              type="button"
              id="report"
              data-bs-toggle="dropdown"
              aria-expanded="false"
          >
              <img
                  src="/assets/dashboard/dollar-square.svg"
                  width="22.53px"
                  alt="dollar"
              />
              <strong>Reports</strong>
              <img
                  src="./../../../assets/dashboard/arrow-down.svg"
                  width="16.5px"
                  alt="down-arrow"
              />
          </button>
          <ul class="dropdown-menu" aria-labelledby="report">
              <li><a class="dropdown-item border-b">Report</a></li>
              <li><a class="dropdown-item border-b">Another action</a></li>
              <li><a class="dropdown-item">Something else here</a></li>
          </ul>
      </div>
      <button
          class="d-flex align-items-center justify-content-center user-btn"
          (click)="header2ClickHandler('setting')"
          [ngClass]="{ active2: header2Active === 'setting' }"
          >
          <img
              src="/assets/dashboard/setting.svg"
              width="22.53px"
              alt="setting"
          />
          <strong>Settings</strong>
      </button> -->
  </div>
  </div>
</section>
