<div class="ms-5 container">
    <form class="row row-cols-sm-auto justify-content-center">
        <div class="col-12" style="width: 24rem;">
            <div class="input-group">
                <input
                    class="form-control"
                    id="startDatePicker"
                    [placeholder]="startFormattedDateRange"
                    name="dp"
                    [(ngModel)]="startModel"
                    ngbDatepicker
                    #start="ngbDatepicker"
                    [value]="startFormattedDateRange"
                    (dateSelect)="onStartDateSelect($event)"
                />
                <button class="toggle-btn">
                    <img src="/assets/dashboard/arrow-up.svg" alt="arrow-up"
                [ngClass]="{'rotate-up': isStartOpen, 'rotate-down': !isStartOpen}" class="pointer"
                (click)="start.toggle(); isStartOpen = !isStartOpen">
                </button>
            </div>
        </div>
        <div class="col-12" style="width: 24rem;">
            <div class="input-group">
                <input
                    class="form-control"
                    [placeholder]="endFormattedDateRange"
                    name="dp"
                    [(ngModel)]="endModel"
                    ngbDatepicker
                    #end="ngbDatepicker"
                    [value]="endFormattedDateRange"
                    (dateSelect)="onEndDateSelect($event)"
                />
                <button class="toggle-btn">
                    <img src="/assets/dashboard/arrow-up.svg" alt="arrow-up"
                [ngClass]="{'rotate-up': isEndOpen, 'rotate-down': !isEndOpen}" class="pointer"
                (click)="end.toggle(); isEndOpen = !isEndOpen">
                </button>
            </div>
        </div>
    </form>

</div>

