.toggle-btn{
    background-color: white;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.rotate-down {
    transform: rotate(180deg); /* Rotates the arrow downwards */
    transition: transform 0.3s ease;
  }
  
  .rotate-up {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }
  @media only screen and (min-width:768px){
    .date-head-container{
      width: 16rem;
    }
  }
  @media only screen and (min-width:900px){
    .date-head-container{
      width: 20rem;
    }
  }
  @media only screen and (min-width:1200px){
    .date-head-container{
      width: 24rem;
    }
  }
::ng-deep.ngb-dp-day .bg-primary{
  background-color: red !important;
}